# fly.toml app configuration file generated for backend-api-coursekeeper on 2025-11-03T17:41:54Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-api-coursekeeper'
primary_region = 'gru'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'
  seed_command = 'ts-node prisma/seed.ts'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
